.contentAbout {
    
}

.sectionBox {
    margin: 20px;
}

.sectionBoxBg {
    background: #F8F7EF;
}

.sectionTitle {
    font-size: 32px;
    font-weight: bold;
    color: #608841;
    text-align: center;
    letter-spacing: 3px;
}
.sectionTitle::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #EAA200;
    margin: 20px auto 40px;
}

.sectionSubtitle {
    text-align: center;
    color: #EAA200;
    margin-bottom: 30px;
}

.sectionContent {
    line-height: 1.6;
}

.contactButton {
    display: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.contactButton {
    display: inline-block;
    background-color: #EAA200;
    color: white;
    padding: 10px 80px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font: normal bold 18px/31px 'Yu Gothic', sans-serif;
}

/* PC版（768px以上）の場合に非表示 */
@media screen and (min-width: 769px) {
    .contactButton {
        display: none;
    }
}
