.contentAbout {
    /* 必要なスタイルをここに追加 */
}

.sectionBox {
    margin: 20px;
}

.sectionBoxBg {
    background: #F8F7EF;
}

.sectionTitle {
    font-size: 38px;
    font-weight: bold;
    color: #608841;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
.sectionTitle::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #EAA200;
    margin: 20px auto 40px;
}

.sectionSubtitle {
    text-align: center;
    color: #EAA200;
    margin-bottom: 30px;
}

.sectionContent {
    font-size: 20px;
    line-height: 1.6;
}
