.planCardContainer {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0 50px;
}

.planCardTitle {
    background: #C0D860;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.planCardTitleW {
    background: #608841;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.planCardBody {
    padding: 5px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.planBadge {
    font-size: 16px;
    color: #EAA200;
    padding: 5px 15px;
    margin: auto 10px;
    border-radius: 50px;
    border: 1px solid #EAA200;
}

.planBadgeStay {
    font-size: 16px;
    color: #608841;
    padding: 5px 15px;
    margin: auto 10px;
    border-radius: 50px;
    border: 1px solid #608841;
}

.planPrice {
    font-size: 34px;
    font-weight: bold;
}

.planCount {
    font-size: 20px;
    font-weight: 500;
}

.planDescription {
    line-height: 1.6;
    margin: 20px 0;
}

.planRemarksColumn {
    line-height: 1.6;
    margin: 20px 0;
}

.otherEventTitle {
    font-size: 20px;
}

.otherEventDescription {
    line-height: 1.6;
    margin: 20px 0;
}
