.boldText {
    font-weight: bold;
}

.staffCardContainer {
    display: flex;
}

.staffImageBox {
    width: 150px;
    height: 150px;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 20px;
}

.staffMessage {
    line-height: 1.6;
    letter-spacing: 1px;
}

.viewMore {
    display: inline-block;
    background: #B3CDE0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
