.backgroundImage {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.menuButton {
    position: absolute;
    top: 23px;
    left: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.menuBar {
    width: 40px;
    height: 4px;
    background-color: white;
}

.menuBarGreen {
    width: 40px;
    height: 4px;
    background-color: green;
}

.menuDropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #334731;
    color: white;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menuItem {
    display: block;
    color: white;
    padding: 10px 0;
    font-size: 18px;
    margin: 10px 0;
}

.menuItem:hover {
    text-decoration: underline;
}

.buttonContainer {
    position: absolute;
    bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactButton {
    background-color: #EAA200;
    color: white;
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font: normal bold 18px/31px 'Yu Gothic', sans-serif;
}

.contentContainer {
    max-width: 1024px;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.sideMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    max-width: 300px;
    height: 100%;
    background-color: #334731;
    color: white;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sideMenu.open {
    transform: translateX(0);
}

.closeButton {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sideMenuItem {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff40;
    font-size: 16px;
}

.sideMenuItem:hover {
    text-decoration: underline;
}
